name: Build Project

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build all modules
        run: ./gradlew clean build

      - name: List dist folder
        run: ls -lh dist

      # Optional: upload artifacts
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: dist/*.jar
